---
title: 'Nehalem Bay Salmon Fishing | Hammerhead Fishing Guide'
description: 'Dive into the exhilarating world of Salmon fishing in Nehalem Bay with Hammerhead Guide Service. Experience tailored trips during Summer and Fall, promising both adventure and a bountiful catch.'
preloadImg: ''
permalink: 'salmon/' 
eleventyNavigation:
    key: Salmon
    parent: Services
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/salmon.css">
    <link rel="stylesheet" href="/css/services.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                salmon-hero                     -->
    <!-- ============================================ -->
    <section id="salmon-hero" class="services-hero">
        <div class="Section_top">
            <picture>
                <source srcset="/assets/images/salmon-hero.webp" type="image/webp">
                <img src="/assets/images/salmon-hero.jpg" alt="Nehalem Bay Salmon Fishing" class="hero-image">
            </picture>
            <div class="tint"></div>
            <div class="content">
                <h1 class="cs-hero-title">
                    Nehalem Bay<br><span class="second-line">Salmon Fishing</span>
                </h1>
                <p class="cs-text">Dive into the vibrant world of Salmon fishing in Nehalem Bay, where seasoned anglers and beginners alike come together for an unforgettable experience with Hammerhead Guide Service.</p>
                <div class="two-buttons">
                    <a href="/contact/" class="button-solid">Contact Us</a>
                    <a href="#price-section" class="button-solid price-btn">Pricing</a>
                </div>
            </div>
        </div> 
    </section>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Get the button with the class "price-btn"
            const button = document.querySelector('.price-btn');

            if (button) {
                // Add a click event listener to the button
                button.addEventListener('click', (event) => {
                    event.preventDefault(); // Prevent the default button behavior
                    const targetId = button.getAttribute('href'); // Get the target section id

                    // Get the target section element
                    const targetElement = document.querySelector(targetId);

                    if (targetElement) {
                        // Calculate the offset by subtracting the desired offset value (in pixels)
                        // from the element's offsetTop
                        const offset = targetElement.offsetTop - 50; // Replace 'yourOffsetValue' with the desired offset value

                        // Scroll smoothly to the target section with the offset
                        window.scrollTo({
                            top: offset,
                            behavior: 'smooth'
                        });
                    }
                });
            }
        });
    </script>


    <!-- ============================================ -->
    <!--                salmon-service                     -->
    <!-- ============================================ -->
    <section id="salmon-service" class="service-salmon">
        <div class="left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 699px)" srcset="/assets/images/service-salmon.webp">
                <source media="(min-width: 700px)" srcset="/assets/images/service-salmon.webp">
                <img decoding="async" loading="lazy" src="/assets/images/service-salmon.png" alt="" >
            </picture>
        </div>
        <div class="right">
            <span class="topper">Overview</span>
            <h2 class="cs-title">Salmon<br />Guide <span class="text-highlight">Service</span></h2>
            <p class="cs-text">Welcome to Salmon Fishing Guide, your ultimate gateway to an exhilarating world of angling excitement. Embark on a journey where the shimmering waters of pristine rivers and the challenge of the wild collide, offering you the chance to reel in the ultimate catch – the majestic salmon. </p>
            <ul>
                <li>Join our seasoned guides who are not only passionate about salmon fishing</li>
                <li>Immerse yourself in the tranquility of unspoiled rivers and breathtaking landscapes</li>
                <li>Whether you're a novice or a seasoned angler, our guides tailor each expedition to match your skill level</li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                service-book                     -->
    <!-- ============================================ -->
    <section id="book-service" class="service-book">
        <div class="block">
            <div class="overlay">
                <div class="img"></div>
            </div>
            <div class="content">
                <h2>BOOK OUR SERVICES</h2>
                <p>Maecenas ornare neque lacinia facilisis accumsan. Quisque auctor ut tortor semper tempor.</p>
                <button class="button-solid">Learn More</button>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                pricing-package                     -->
    <!-- ============================================ -->
    <section id="pricing-package" class="pricing-package">
        <h2 class="cs-title">PRICING & <span class="text-highlight">PACKAGE</span></h2>
        <ul>
            <li>
                <h3>Full Day</h3>
                <div><span class="price best">$300</span><span>20% discount</span></div>
                <p>
                    Praesent sit amet sagittis tellus, ac aliquam lacus.
                </p>
            </li>
            <li>
                <h3>Half-Day</h3>
                <div><span class="price avg">$150</span><span>20% discount</span></div>
                <p>
                    Praesent sit amet sagittis tellus, ac aliquam lacus.
                </p>
            </li>
            <li class="selected">
                <h3>Special Package</h3>
                <div><span class="price">$450</span><span>20% discount</span></div>
                <p>
                    Praesent sit amet sagittis tellus, ac aliquam lacus.
                </p>
            </li>
        </ul>
    </section>

{% endblock %}